{% extends 'base.html' %}


{% block page_title%}Components{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>There are {{ instalados }} components installed</h1>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#addComponentModal">
                <i class="bi bi-node-plus-fill"></i> Add
            </button>
        </div>
    </div>
    <hr>
    <div class="list-group">
        {% for componente in componentes %}
        <div class="list-group-item list-group-item-action py-4">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ componente.name }} {{ componente.version }}</h5>
                <small>{{ componente.created_at }}</small>
            </div>
            <p class="mb-2">{{ componente.description }}</p>
            <div class="row">
                <div class="col">
                    <a href="/admin/configs/component/{{ componente.id }}/change/" class="btn btn-primary">Manage</a>
                    <a href="{{ componente.docs }}" target="_blank" class="btn btn-outline-primary">See docs</a>
                </div>
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end opacity-50">
                        Created by <a href="{{ componente.website }}" target="_blank">Zhenboro</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="addComponentModal" tabindex="-1" aria-labelledby="addComponentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addComponentModalLabel">New component</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Be careful!</h4>
                    <p>
                        If the component you're adding is not official from the <a target="_blank"
                            href="https://github.com/Borocito/Components-for-Borocito">Components-for-Borocito</a>
                        repository, that component can be really dangerous.
                    </p>
                    <hr>
                    <p class="mb-0">
                        Please look for well-documented, code-available sources and trusty origins before proceeding.
                    </p>
                </div>
                In order to proceed, you need the .JSON file and upload it using the form down below.
            </div>
            <div class="modal-footer">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="component_json_file"><i class="bi bi-cloud-upload"></i></label>
                    <input type="file" class="form-control" id="component_json_file" name="component_json_file">
                    <label class="input-group-text" for="component_json_file">JSON</label>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}